*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%; min-width: $minwidth; line-height:1;font-size:14px; font-family:$fontfamily; -ms-reviews-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:$fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
  font-family: "Sofia Sans", serif;
}

.header{
  background-color: #e6e7d2;
  height: 100px;
}

.menu-list{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-link{
  color: #5c6244;
  font-size: 22px;
  font-weight: 700;
}

.menu-link:hover{
  color: #4b4b53;
}

.menu-item:hover{
  transform: scale(1.1);
}

.main-page{
  background-color: #e6e7d2;
  height: 100vh;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.main-page-container{
  display: flex;
  justify-content: space-between;
  height: 700px;
  padding: 50px 100px;
  border: 2px solid #5c6244;
}

.main-text-block{ 
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-img-block{
  box-shadow: 13px 12px 4px rgba(0, 0, 0, 0.2);
}

h1{
  color: #5c6244;
  font-size: 48px;
}

.main-page-text{
  color: #8d9077;
  font-size: 28px;
}

.main-button{
  width: 250px;
  height: 70px;
  border-radius: 25px;
  border: 2px solid #5c6244;
  background-color: #8d9077;
  color: white;
  font-size: 20px;
  box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.2);
  font-family: "Sofia Sans", serif;
  margin: 0 auto;
}

.main-button:hover{
  background-color: #6d7058;
  transform: scale(1.1);
}

.main-img{
  width: 500px;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);  
}

.portfolio{
  background-color: #5a6b51;
  height: 900px;
}

h2{
  font-size: 32px;
  font-weight: 700;
  color: #e6e7d2;
  padding: 40px 0;
}

.slide{
  display: none;
  width: 1100px;
  height: 600px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.active-slide{
  display: flex;
}

.portfolio-slider{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-left{
  color: white;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.07);
}

.arrow-right{
  color: white;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.07);
}

.arrow-left:hover{
  animation: scroll-left 1.2s infinite linear normal;
}

@keyframes scroll-left{
  0%{
    color: white;
    text-align: right; 
  }
  50% {
    color: #9b9a9a;
    text-align: center;
  }
  100% {
    color: #757474;
    text-align: left;
  }
}

.arrow-right:hover{
  animation: scroll-right 1.2s infinite linear normal;
}

@keyframes scroll-right{
  0%{
    color: white;
    text-align: left;
  }
  50% {
    color: #9b9a9a;
    text-align: center;
  }
  100% {
    color: #757474;
    text-align: right; 
  }
}

.slide-img{
  width: 1100px;
  height: 600px;
  object-fit: cover;
}

.slide-img.slide-img:hover{
  transform: scale(1.01);
}

h3{
  font-size: 28px;
  font-weight: 700;
  color: #f4f1e8;
  padding-bottom: 20px;
}

h3:hover{
  color: #8d9077;
}

.slide-text{
  font-size: 20px;
  font-weight: 500;
  color: #f4f1e8;
  padding-bottom: 30px;
}


.slider-dots{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 70px;
  padding-bottom: 10px;
  margin-top: 110px;
}

.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4b4b53;
}

.dot:hover{
  transform: scale(1.3);
}

.active-dot{
  background-color: white;
}

.contacts{
  height: 400px;
  background-color: #d8dfbe;
}

.contacts-title{
  color: #5a6b51;
}

.contact-block {
  display: flex;
  height: 150px;
  justify-content: space-around;
  align-items: flex-end;
}

.contact-item{
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #272e24;
}

.phone::before{
  position: absolute;
  width: 50px;
  height: 50px;
  top: -60px;
  left: 70px;
  content: '';
  background: url(img/icon-phone.svg) no-repeat center / contain;
}

.whatsapp::before{
  position: absolute;
  width: 50px;
  height: 50px;
  top: -60px;
  left: 80px;
  content: '';
  background: url(img/icon-whatsapp.svg) no-repeat center / contain;
}

.github::before{
  position: absolute;
  width: 50px;
  height: 50px;
  top: -60px;
  left: 25px;
  content: '';
  background: url(img/icon-github.svg) no-repeat center / contain;
}

.link:hover{
  color: #5a6b51;
}

footer{
  height: 60px;
  background-color: #4b4b53;
}

.container-footer{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e6e7d2;
  font-size: 18px;
}

@media (max-width: 1200px){
  .container{
    width: 800px;
  }
  .main-page-container{
    height: 600px;
  }
  .main-img{
    width: 300px;  
  }
  .portfolio{
    height: auto;
  }
  .slide{
    width: 700px;
    height: 350px;
  }
  .slide-img{
    width: 600px;
    height: 340px;
    margin: 0 auto;
  }
  .slider-dots{
    padding-bottom: 50px;
  }
}

@media (max-width: 825px){
  .container{
    width: 600px;
  }
  .main-page{
    height: auto;
    padding-bottom: 100px;
  }
  .main-page-container{
    align-items: center;
  }
  .main-img-block{
    width: 200px;
    height: 250px;
  }
  .main-img{
    width: 200px;
  }
  .main-text-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: 100%;
    gap: 20px;
  }
}

@media (max-width: 750px){
  .portfolio-slider{
    width: 500px;
    height: auto;
  }
  .slide{
    width: 460px;
    height: 350px;
  }
  .slide-img{
    width: 400px;
    height: 230px;
    margin: 0 auto;
  }
  .slider-dots{
    margin-top: 20px;
  }
  
}

@media (max-width: 620px){
  .container{
    width: 500px;
  }
  .main-img-block{
    display: none;
  }
  .contact-block{
    flex-direction: column;
    gap: 90px;
    align-items: flex-start;
    margin-top: 40px;
  }
  .contact-item::before{
    left: 0;
  }
}

@media (max-width: 515px){
  .container{
    width: 450px;
  }
  .main-page-container{
    width: 100%;
    padding: 0 10px;
  }
  .portfolio-slider{
    width: 300px;
    margin: 0 auto;
  }
  .slide{
    width: 350px;
    height: auto;
  }
  .slide-img{
    width: 250px;
    height: 140px;
  }
  .arrow-left,.arrow-right{
    width: 20px;
    height: 20px;
    font-size: 30px;
  }
}

@media (max-width: 450px){
  .container{
    width: 300px;
  } 
  .main-page-container{
    height: auto;
    padding: 30px 10px;

  }

  .menu-list{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-top: 10px;
  }
  h1{
    font-size: 32px;
    width: auto;
  }
  .main-page-text{
    font-size: 20px;
  }
  .main-button{
    width: 150px;
  }

}